{{!< default}}

<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<a href="/" id="blog-title">{{@blog.title}}</a>
	{{> links}}
	<div class="cf"></div>

	<div id="title">
		{{{@blog.description}}}
		{{#author}}
		<h2>{{name}}</h2>
		{{/author}}
	</div>

</header>

<div class="container" id="content" role="main">

    {{#foreach posts}}

    <article class="{{post_class}}" id="post-{{id}}">

		<h1><a href="{{url}}">{{title}}</a></h1>
		<span class="meta">{{date format='YYYY-MM-DD'}} {{#if tags}} {{#tags}} #{{name}} {{/tags}} {{/if}}</span>
		<p class="summary">{{excerpt}}</p>
    </article>

    {{/foreach}}

    {{pagination}}

</div>
