{{!< default}}

<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="purple-bar">
		{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
		<a href="/" id="blog-title">{{@blog.title}}</a>
		{{> links}}
	</div>
	<div class="cf"></div>

	<div id="title">
		{{{@blog.description}}}
		{{#tag}}
		<h2>{{name}}</h2>
		{{/tag}}
	</div>

</header>

<div class="container" id="content" role="main">

    {{#foreach posts}}

    <article class="{{post_class}}" id="post-{{id}}">

		<h1><a href="{{url}}">{{title}}</a></h1>
		<span class="meta">{{date format='YYYY-MM-DD'}} {{#if tags}} {{#tags}} #{{name}} {{/tags}} {{/if}}</span>
		<p class="summary">{{excerpt}}</p>
    </article>

    {{/foreach}}

    {{pagination}}

</div>
